{{!< default}}

{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}

<header class="main-header post-head {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
</header>

<main class="content document-page" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            {{content}}
        </section>
        <div class="document-page---document" style="border: 0.0266667in solid #000000; padding: 15px; display: block">
        <p style="text-align: center"><span style="font-weight: bold">COMMITTEE PURPOSE AND GOALS</span></p>
        <p></p>
        <p style="text-align: center"><span style="text-decoration: underline"><span style="font-weight: bold"><span style="font-size: 14pt">Youth Workers Screening Committee</span></span></span></p>
        <p></p>
        <p style="text-indent: -1.5in; margin-left: 1.5in">&nbsp;</p>
        <p style="text-indent: -1.5in; margin-left: 1.5in"><span style="font-weight: bold">Type:</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The Youth Workers Screening Committee is a standing committee <span style="font-weight: bold"></span></p>
        <p></p>
        <p style="text-indent: -1.5in; margin-left: 1.5in">&nbsp;</p>
        <p style="text-indent: -1.5in; margin-left: 1.5in"><span style="font-weight: bold">Purpose:</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The purpose of the Youth Workers Screening Committee is to develop,<br>
        oversee and maintain policies to create and maintain a Parish wherein our<br>
        youth and youth workers are protected from situations and circumstances<br>
        conducive to acts of sexual misconduct.</p>
        <p></p>
        <p style="text-indent: -1.5in; margin-left: 1.5in">&nbsp;</p>
        <p style="text-indent: -1.5in; margin-left: 1.5in"><span style="font-weight: bold">Goals:</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The Youth Workers Screening Committee is directed to accomplish the<br>
        following:</p>
        <p style="text-indent: -2in; margin-left: 2in">&nbsp;</p>
        <p style="text-indent: -2in; margin-left: 2in"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>1.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Advise the Parish Council as to the Parish’s compliance with the<br>
        Parish’s Policies concerning the prevention of Sexual Misconduct.</p>
        <p style="text-indent: -2in; margin-left: 2in"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>2.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Advise the Parish Council as to the Parish’s compliance with the<br>
        <i>Policies, Standards, and Procedures of the Orthodox Church in<br>
        America on Sexual Misconduct</i></p>
        <p style="text-indent: -2in; margin-left: 2in"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>3.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Oversee the Parish’s youth worker screening process</p>
        <p></p>
        <p style="text-indent: -1.5in; margin-left: 1.5in">&nbsp;</p>
        <p style="text-indent: -1.5in; margin-left: 1.5in"><span style="font-weight: bold">Accountability:</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>This committee is accountable to the Parish Council.</p>
        <p></p>
        <p style="text-indent: -1.5in; margin-left: 1.5in">&nbsp;</p>
        <p style="text-indent: -1.5in; margin-left: 1.5in"><span style="font-weight: bold">Interaction:</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>This committee is empowered to direct the following committees or<br>
        directors:</p>
        <p style="margin-left: 2in">&nbsp;</p>
        <p style="margin-left: 2in">None</p>
        <p style="margin-left: 1.5in">&nbsp;</p>
        <p style="margin-left: 1.5in">This committee is subject to the following committees or directors:</p>
        <p style="margin-left: 1.5in">&nbsp;</p>
        <p style="margin-left: 1.5in">None</p>
        <p>Approved by the Parish Council on _________________________________.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
        </div>
    </article>
</main>
{{/post}}
